name: CI

on:
  pull_request:
    branches: [ "dev", "main" ]
  push:
    branches: [ "dev" ]

jobs:
  build_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Restore
        run: dotnet restore EncryptSolution.sln

      - name: Build
        run: dotnet build EncryptSolution.sln --no-restore -c Release

      - name: Test
        run: dotnet test EncryptSolution.sln --no-build -c Release
